$background-body: #f7f8fa; /* Основной фон body */
$background-header: #2c3e50; /* Фон для header */
$text-color: #333333; /* Цвет текста */
$link-color: #3498db; /* Цвет ссылок */
$link-hover-color: #2980b9; /* Цвет при наведении на ссылки */
$button-color: #e74c3c; /* Цвет для кнопок */
$slide-bg: #ffdb8b;
